*{
    margin: 0;
}

body{
    background-image: url("../image/desktopbg.jpg");
    background-size: 100% 110%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    padding: 20px;
    opacity: .5;
}   

ul {  
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {  
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin: 0 30px;
}

#sign-in-btn {
    width: 121px;
    height: 43px;
    border: 2px solid #444344;
    border-radius: 100px;
    background-color: #444344;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: white;
    line-height: 23px;
    text-align: center;  
    display:contents;
}

footer {
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: black;
    padding: 10px;
    opacity: .6;
    line-height: 35px;
}   

a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 20px;
    margin: 0 10px;
    line-height: 50px;
    text-decoration: none;
}

.icon a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 30px;
    margin: 0 20px;
    line-height: 50px;
    text-decoration: none;
}

p{
    color: white;
    text-align: center;
}

h1{
    color: white;
    text-align: center;
}

.spacing{   
    line-height: 60px;
}



.logo-container {
    width: 20%;
    display: flexbox;
}

.logo-container h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center; 
    line-height: 50px;
}

nav {
    width: 70%;
    display: flex;
    align-items: center;
}

.sign-in-btn {
    width: 10%;
    display: flex;
    align-items: center;
}

section {
    height: 60vh;
    padding: 75px 20px;
}

.welcome{
    display: grid;
    background: black;
    opacity: .5;
}
.welcome h1 {
    color: solid white;
    text-align: right;
    flex-wrap: nowrap;
    line-height: 440px;
    font-size: 52px;
}

.welcome h1{
    font-size: 60px;
    margin-top: 100px;
    margin-bottom: 150px;
    margin-right: 50px;
    text-align: right ;
    line-height: 100px;
}

.aboutme{
    display: grid;
    background-color: black;
    opacity: .3;
}


.aboutme h1{
    color: solid white;
}

.aboutme h1 span{
    color:blueviolet;
}