*{ 
    margin: 0;
    padding: 0;
}

.cool{
        background-image: url("../image/joshua.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        filter: blur(5px);
}
